<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EBay Test Suite">
  <test thread-count="1" name="Ebay Functional Testing">
      <classes>
          <class name="ebay.EbayTest">
              <methods>
                  <include name="e2eEbayRegressionTest"></include>
              </methods>
          </class>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
